<p id="notice"><%= notice %></p>

<p>
  <strong>Fromuser:</strong>
  <%= @vote.fromuser %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @vote.ip %>
</p>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
